.ipynb_checkpoints*
*__pycache__*
.vscode*
logs/*
*.zip
*.npz
*.DS_Store
foundation/*
*.py[co]
__pycache__
*.egg-info
*egg-info*/*
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.cache
.coverage
*.swp
.vscode
.pytest_cache
.python-version
*.local*
*.tmp
